.primary-dark-text{
    color:#0057b3 
}
.primary-light-text{
    color:#cce5ff 
}
.secondary-text{
    color:#0057b3 
}
.tertiary-text{
    color:#7abbff 
}
.primary-dark-bg{
    background-color:#0057b3 
}
.primary-light-bg{
    background-color:#cce5ff 
}
.secondary-bg{
    background-color:#0057b3 
}
.tertiary-bg{
    background-color:#7abbff 
}
